.title-container {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cell {
  border: black 2px solid;
  flex: 0 0 32%;
  height: 150px;
  cursor: pointer;
}

.cell-0-0 {
  border-left: none;
  border-top: none;
}

.cell-0-1 {
  border-top: none;
}

.cell-0-2 {
  border-top: none;
  border-right: none;
}

.cell-1-0 {
  border-left: none;
}

.cell-1-2 {
  border-right: none;
}

.cell-2-0 {
  border-left: none;
  border-bottom: none;
}

.cell-2-1 {
  border-bottom: none;
}
.cell-2-2 {
  border-right: none;
  border-bottom: none;
}
